<h1>photos gallery of <%= @album.name %></h1>

<div class="row">
    <ul class="photos">
        <% @photos.each do |item| %>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img class="img-responsive" src="<%= item.attachment_url %>" /></li>
       <% end %>
    </ul>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @photo, html: { multipart: true } do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.hidden_field :album_id %>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.file_field :attachment %>
            <%= f.submit "Upload", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>

